@import url('https://fonts.googleapis.com/css?family=Lexend+Deca&display=swap');
@import url('https://fonts.googleapis.com/css?family=Roboto+Slab&display=swap');


body {
    margin: 0;
}

/* index.html */
.topnav{
    background-color:#3F51B5;
    overflow: hidden;
    height: 50px;
    font-family: 'Lexend Deca', sans-serif;
}
.topnav a{
    color: white;
    font-size: 20px;
    margin: 10px 15px;
    display: inline-block;
}
.pic {
 display: block;
 margin-left: auto;
 margin-right: auto;
 width: 50%;
}
.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color:#3F51B5;
    overflow: hidden;
    height: 50px;
    font-family: 'Lexend Deca', sans-serif;    
}
.footer a{
    color: white;
    font-size: 20px;
    margin: 10px 15px;
    display: inline-block;
}

/* papermoney.html*/
.listOfKings h1{
    font-family: 'Roboto Slab', serif;
}

/* kingTribhuwan.html */
.name{
    margin-left: 400px;
    font-size: 15px;
    font-family: 'Roboto Slab', serif;
}
.list h1{
    font-family: 'Roboto Slab', serif;
}
.governor h1{
    font-family: 'Roboto Slab', serif;
}

/*tribhuwan-1.html*/
.oneRupee-tribhuwan{
    font-family: 'Roboto Slab', serif;  
    margin-left: 330px
}
.narendra-1{
    margin-left: 30px;
    font-size: 20px;
    float: left;
}
.narendra-1 p{
    text-align: center;
}
.tribhuwan1rs{
    margin-left: 150px;
    float: left;
}
.text{
    width: 600px;
    margin-left: 20px;
    float: left;
    font-size: 15px  
}

/*tribhuwan-5.html*/
.fiveRupee-tribhuwan{
    font-family: 'Roboto Slab', serif;  
    margin-left: 330px
}
.janak-5{
    margin-left: 30px;
    font-size: 20px;
    float: left;  
}
.janak-5 p{
    text-align: center;
}
.bharat-5{
    margin-left: 30px;
    font-size: 20px;
    float: left;  
}
.bharat-5 p{
    text-align: center;
}
.narendra-5{
    margin-left: 30px;
    font-size: 20px;
    float: left;
}
.narendra-5 p{
    text-align: center;
}
.narendra-5 img{
    margin-right: 24px;
}
.tribhuwan5rs{
    margin-left: 150px;
    float: left;
}
.text5{
    width: 600px;
    margin-left: 20px;
    float: left;
    font-size: 15px  
}

/*tribhuwan-10.html*/
.tenRupee-tribhuwan{
    font-family: 'Roboto Slab', serif;  
    margin-left: 330px
}
.janak-10{
    margin-left: 30px;
    font-size: 20px;
    float: left;  
}
.janak-10 p{
    text-align: center;
}
.bharat-10{
    margin-left: 30px;
    font-size: 20px;
    float: left;  
}
.bharat-10 p{
    text-align: center;
}
.narendra-10{
    margin-left: 30px;
    font-size: 20px;
    float: left;
}
.narendra-10 p{
    text-align: center;
}
.narendra-10 img{
    margin-right: 24px;
}
.tribhuwan10rs{
    margin-left: 150px;
    float: left;
}
.text10{
    width: 600px;
    margin-left: 20px;
    float: left;
    font-size: 15px  
}

/*tribhuwan-100.html*/
.hundredRupee-tribhuwan{
    font-family: 'Roboto Slab', serif;  
    margin-left: 330px
}
.janak-100{
    margin-left: 30px;
    font-size: 20px;
    float: left;  
}
.janak-100 p{
    text-align: center;
}
.bharat-100{
    margin-left: 30px;
    font-size: 20px;
    float: left;  
}
.bharat-100 p{
    text-align: center;
}
.narendra-100{
    margin-left: 30px;
    font-size: 20px;
    float: left;
}
.narendra-100 p{
    text-align: center;
}
.narendra-100 img{
    margin-right: 24px;
}
.tribhuwan100rs{
    margin-left: 150px;
    float: left;
}
.text100{
    width: 600px;
    margin-left: 20px;
    float: left;
    font-size: 15px  
}

/*khajanchee-1.html*/
.khajanchee-one{
    margin-left: 200px;
    float: left;
}
.aboutJanak{
    width: 600px;
    margin-left: 70px;
    float: left;
    font-size: 15px
}
/*khajanchee-2.html*/
.khajanchee-two{
    margin-left: 200px;
    float: left;
}
.aboutBharat{
    width: 600px;
    margin-left: 70px;
    float: left;
    font-size: 15px
}
/*khajanchee-3.html*/
.khajanchee-three{
    margin-left: 200px;
    float: left;
}
.aboutNarendra{
    width: 600px;
    margin-left: 70px;
    float: left;
    font-size: 15px
}

/*kingMahendra.html*/
.name{
    margin-left: 400px;
    font-size: 15px;
    font-family: 'Roboto Slab', serif;
}
.list h1{
    font-family: 'Roboto Slab', serif;
}
.governor h1{
    font-family: 'Roboto Slab', serif;
}

/*mahendra-1.html*/
.oneRupee-mahendra{
    font-family: 'Roboto Slab', serif;  
    margin-left: 330px
}
.himalayan-1{
    margin-left: 30px;
    font-size: 20px;
    float: left;  
}
.himalayan-1 p{
    text-align: center;
}

.yadav-1{
    margin-left: 30px;
    font-size: 20px;
    float: left;
}
.yadav-1 p{
    text-align: center;
}
.yadavcap-1{
    margin-left: 30px;
    font-size: 20px;
    float: left;
}
.yadavcap-1 p{
    text-align: center;
}
.mahendra1rs{
    margin-left: 150px;
    float: left;
}
.info1{
    width: 600px;
    margin-left: 20px;
    float: left;
    font-size: 15px  
}

/*mahendra-5.html*/
.fiveRupee-mahendra{
    font-family: 'Roboto Slab', serif;  
    margin-left: 330px
}
.himalayan-5{
    margin-left: 30px;
    font-size: 20px;
    float: left;  
}
.himalayan-5 p{
    text-align: center;
}
.laxminath-5{
    margin-left: 30px;
    font-size: 20px;
    float: left;  
}
.laxminath-5 p{
    text-align: center;
}
.bhekh-5{
    margin-left: 30px;
    font-size: 20px;
    float: left;  
}
.bhekh-5 p{
    text-align: center;
}
.yadav-5{
    margin-left: 30px;
    font-size: 20px;
    float: left;
}
.yadav-5 p{
    text-align: center;
}
.yadavcap-5{
    margin-left: 30px;
    font-size: 20px;
    float: left;
}
.yadavcap-5 p{
    text-align: center;
}
.mahendra5rs{
    margin-left: 150px;
    float: left;
}
.info5{
    width: 600px;
    margin-left: 20px;
    float: left;
    font-size: 15px  
}

/*mahendra-10*/
.tenRupee-mahendra{
    font-family: 'Roboto Slab', serif;  
    margin-left: 330px
}
.himalayan-10{
    margin-left: 30px;
    font-size: 20px;
    float: left;  
}
.himalayan-10 p{
    text-align: center;
}
.laxminath-10{
    margin-left: 30px;
    font-size: 20px;
    float: left;  
}
.laxminath-10 p{
    text-align: center;
}
.laxminath-10rs{
    margin-left: 30px;
    font-size: 20px;
    float: left;  
}
.laxminath-10rs p{
    text-align: center;
}
.pradyumna-10{
    margin-left: 30px;
    font-size: 20px;
    float: left;  
}
.pradyumna-10 p{
    text-align: center;
}
.bhekh-10{
    margin-left: 30px;
    font-size: 20px;
    float: left;  
}
.bhekh-10 p{
    text-align: center;
}
.yadav-10{
    margin-left: 30px;
    font-size: 20px;
    float: left;
}
.yadav-10 p{
    text-align: center;
}
.yadavcap-10{
    margin-left: 30px;
    font-size: 20px;
    float: left;
}
.yadavcap-10 p{
    text-align: center;
}
.mahendra10rs{
    margin-left: 150px;
    float: left;
}
.info10{
    width: 600px;
    margin-left: 20px;
    float: left;
    font-size: 15px  
}

/*mahendra-100.html*/
.hundredRupee-mahendra{
    font-family: 'Roboto Slab', serif;  
    margin-left: 330px
}
.himalayan-100{
    margin-left: 30px;
    font-size: 20px;
    float: left;  
}
.himalayan-100 p{
    text-align: center;
}
.laxminath-100{
    margin-left: 30px;
    font-size: 20px;
    float: left;  
}
.laxminath-100 p{
    text-align: center;
}
.pradyumna-100{
    margin-left: 30px;
    font-size: 20px;
    float: left;  
}
.pradyumna-100 p{
    text-align: center;
}
.bhekh-100{
    margin-left: 30px;
    font-size: 20px;
    float: left;  
}
.bhekh-100 p{
    text-align: center;
}
.yadav-100{
    margin-left: 30px;
    font-size: 20px;
    float: left;
}
.yadav-100 p{
    text-align: center;
}
.yadavcap-100{
    margin-left: 30px;
    font-size: 20px;
    float: left;
}
.yadavcap-100 p{
    text-align: center;
}
.mahendra100rs{
    margin-left: 150px;
    float: left;
}
.info100{
    width: 600px;
    margin-left: 20px;
    float: left;
    font-size: 15px  
}

/*mahendra-500.html*/
.fivehundredRupee-mahendra{
    font-family: 'Roboto Slab', serif;  
    margin-left: 330px
}
.yadav-500{
    margin-left: 30px;
    font-size: 20px;
    float: left;
}
.yadav-500 p{
    text-align: center;
}
.mahendra500rs{
    margin-left: 150px;
    float: left;
}
.info500{
    width: 600px;
    margin-left: 20px;
    float: left;
    font-size: 15px  
}

/*mahendra-1000.html*/
.thousandRupee-mahendra{
    font-family: 'Roboto Slab', serif;  
    margin-left: 330px
}
.yadav-1000{
    margin-left: 30px;
    font-size: 20px;
    float: left;
}
.yadav-1000 p{
    text-align: center;
}
.mahendra1000rs{
    margin-left: 150px;
    float: left;
}
.info1000{
    width: 600px;
    margin-left: 20px;
    float: left;
    font-size: 15px  
}

/*governor-1.html*/
.governor-one{
    margin-left: 200px;
    float: left;
}
.aboutHimalaya{
    width: 600px;
    margin-left: 70px;
    float: left;
    font-size: 15px
}
/*governor-2.html*/
.governor-two{
    margin-left: 200px;
    float: left;
}
.aboutLaxminath{
    width: 600px;
    margin-left: 70px;
    float: left;
    font-size: 15px
}
/*governor-3.html*/
.governor-three{
    margin-left: 200px;
    float: left;
}
.aboutPradyumna{
    width: 600px;
    margin-left: 70px;
    float: left;
    font-size: 15px
}
/*governor-4.html*/
.governor-four{
    margin-left: 200px;
    float: left;
}
.aboutBhekh{
    width: 600px;
    margin-left: 70px;
    float: left;
    font-size: 15px
}
/*governor-5.html*/
.governor-five{
    margin-left: 200px;
    float: left;
}
.aboutYadav{
    width: 600px;
    margin-left: 70px;
    float: left;
    font-size: 15px
}

/*kingBirendra.html*/
.name{
    margin-left: 400px;
    font-size: 15px;
    font-family: 'Roboto Slab', serif;
}
.list h1{
    font-family: 'Roboto Slab', serif;
}
.governor h1{
    font-family: 'Roboto Slab', serif;
}

/*birendra-1.html*/
.oneRupee-birendra{
    font-family: 'Roboto Slab', serif;  
    margin-left: 330px
}
.kul-1{
    margin-left: 30px;
    font-size: 20px;
    float: left;  
}
.kul-1 p{
    text-align: center;
}
.kalyan-1{
    margin-left: 30px;
    font-size: 20px;
    float: left;  
}
.kalyan-1 p{
    text-align: center;
}
.ganesh-1{
    margin-left: 30px;
    font-size: 20px;
    float: left;  
}
.ganesh-1 p{
    text-align: center;
}
.harishankhar-1{
    margin-left: 30px;
    font-size: 20px;
    float: left;  
}
.harishankhar-1 p{
    text-align: center;
}
.hari-1{
    margin-left: 30px;
    font-size: 20px;
    float: left;  
}
.hari-1 p{
    text-align: center;
}
.satendra-1{
    margin-left: 30px;
    font-size: 20px;
    float: left;
}
.satendra-1 p{
    text-align: center;
}
.birendra1rs{
    margin-left: 150px;
    float: left;
}
.line1{
    width: 600px;
    margin-left: 20px;
    float: left;
    font-size: 15px  
}

/*birendra-2.html*/
.twoRupee-birendra{
    font-family: 'Roboto Slab', serif;  
    margin-left: 330px
}
.kalyan-2{
    margin-left: 30px;
    font-size: 20px;
    float: left;  
}
.kalyan-2 p{
    text-align: center;
}
.ganesh-2{
    margin-left: 30px;
    font-size: 20px;
    float: left;  
}
.ganesh-2 p{
    text-align: center;
}
.hari-2{
    margin-left: 30px;
    font-size: 20px;
    float: left;  
}
.hari-2 p{
    text-align: center;
}
.satendra-2{
    margin-left: 30px;
    font-size: 20px;
    float: left;
}
.satendra-2 p{
    text-align: center;
}
.deependra-2{
    margin-left: 30px;
    font-size: 20px;
    float: left;
}
.deependra-2 p{
    text-align: center;
}
.birendra2rs{
    margin-left: 150px;
    float: left;
}
.line2{
    width: 600px;
    margin-left: 20px;
    float: left;
    font-size: 15px  
}

/*birendra-5.html*/
.fiveRupee-birendra{
    font-family: 'Roboto Slab', serif;  
    margin-left: 330px
}
.kul-5{
    margin-left: 30px;
    font-size: 20px;
    float: left;  
}
.kul-5 p{
    text-align: center;
}
.kalyan-5{
    margin-left: 30px;
    font-size: 20px;
    float: left;  
}
.kalyan-5 p{
    text-align: center;
}
.ganeshb-5{
    margin-left: 30px;
    font-size: 20px;
    float: left;  
}
.ganeshb-5 p{
    text-align: center;
}
.ganesh-5{
    margin-left: 30px;
    font-size: 20px;
    float: left;  
}
.ganesh-5 p{
    text-align: center;
}
.hari-5{
    margin-left: 30px;
    font-size: 20px;
    float: left;  
}
.hari-5 p{
    text-align: center;
}
.satendra-5{
    margin-left: 30px;
    font-size: 20px;
    float: left;
}
.satendra-5 p{
    text-align: center;
}
.deependra-5{
    margin-left: 30px;
    font-size: 20px;
    float: left;
}
.deependra-5 p{
    text-align: center;
}
.birendra5rs{
    margin-left: 150px;
    float: left;
}
.line5{
    width: 600px;
    margin-left: 20px;
    float: left;
    font-size: 15px  
}

/*birendra-10.html*/
.tenRupee-birendra{
    font-family: 'Roboto Slab', serif;  
    margin-left: 330px
}
.kul-10{
    margin-left: 30px;
    font-size: 20px;
    float: left;  
}
.kul-10 p{
    text-align: center;
}
.kalyan-10{
    margin-left: 30px;
    font-size: 20px;
    float: left;  
}
.kalyan-10 p{
    text-align: center;
}
.ganeshb-10{
    margin-left: 30px;
    font-size: 20px;
    float: left;  
}
.ganeshb-10 p{
    text-align: center;
}
.ganesh-10{
    margin-left: 30px;
    font-size: 20px;
    float: left;  
}
.ganesh-10 p{
    text-align: center;
}
.hari-10{
    margin-left: 30px;
    font-size: 20px;
    float: left;  
}
.hari-10 p{
    text-align: center;
}
.satendra-10{
    margin-left: 30px;
    font-size: 20px;
    float: left;
}
.satendra-10 p{
    text-align: center;
}
.deependra-10{
    margin-left: 30px;
    font-size: 20px;
    float: left;
}
.deependra-10 p{
    text-align: center;
}
.birendra10rs{
    margin-left: 150px;
    float: left;
}
.line10{
    width: 600px;
    margin-left: 20px;
    float: left;
    font-size: 15px  
}

/*birendra-20.html*/
.twentyRupee-birendra{
    font-family: 'Roboto Slab', serif;  
    margin-left: 330px
}
.kalyan-20{
    margin-left: 30px;
    font-size: 20px;
    float: left;  
}
.kalyan-20 p{
    text-align: center;
}
.ganesh-20{
    margin-left: 30px;
    font-size: 20px;
    float: left;  
}
.ganesh-20 p{
    text-align: center;
}
.ganeshw-20{
    margin-left: 30px;
    font-size: 20px;
    float: left;  
}
.ganeshw-20 p{
    text-align: center;
}
.hari-20{
    margin-left: 30px;
    font-size: 20px;
    float: left;  
}
.hari-20 p{
    text-align: center;
}
.satendra-20{
    margin-left: 30px;
    font-size: 20px;
    float: left;
}
.satendra-20 p{
    text-align: center;
}
.deependra-20{
    margin-left: 30px;
    font-size: 20px;
    float: left;
}
.deependra-20 p{
    text-align: center;
}
.birendra20rs{
    margin-left: 150px;
    float: left;
}
.line20{
    width: 600px;
    margin-left: 20px;
    float: left;
    font-size: 15px  
}

/*birendra-25.html*/
.twentyfiveRupee-birendra{
    font-family: 'Roboto Slab', serif;  
    margin-left: 330px
}
.satendra-25{
    margin-left: 30px;
    font-size: 20px;
    float: left;
}
.satendra-25 p{
    text-align: center;
}
.birendra25rs{
    margin-left: 150px;
    float: left;
}
.line25{
    width: 600px;
    margin-left: 20px;
    float: left;
    font-size: 15px  
}

/*birendra-50.html*/
.fiftyRupee-birendra{
    font-family: 'Roboto Slab', serif;  
    margin-left: 330px
}
.kul-50{
    margin-left: 30px;
    font-size: 20px;
    float: left;  
}
.kul-50 p{
    text-align: center;
}
.kalyan-50{
    margin-left: 30px;
    font-size: 20px;
    float: left;  
}
.kalyan-50 p{
    text-align: center;
}
.ganesh-50{
    margin-left: 30px;
    font-size: 20px;
    float: left;  
}
.ganesh-50 p{
    text-align: center;
}
.hari-50{
    margin-left: 30px;
    font-size: 20px;
    float: left;  
}
.hari-50 p{
    text-align: center;
}
.satendra-50{
    margin-left: 30px;
    font-size: 20px;
    float: left;
}
.satendra-50 p{
    text-align: center;
}
.deependra-50{
    margin-left: 30px;
    font-size: 20px;
    float: left;
}
.deependra-50 p{
    text-align: center;
}
.birendra50rs{
    margin-left: 150px;
    float: left;
}
.line50{
    width: 600px;
    margin-left: 20px;
    float: left;
    font-size: 15px  
}

/*birendra-100.html*/
.hundredRupee-birendra{
    font-family: 'Roboto Slab', serif;  
    margin-left: 330px
}
.kul-100{
    margin-left: 30px;
    font-size: 20px;
    float: left;  
}
.kul-100 p{
    text-align: center;
}
.kalyan-100{
    margin-left: 30px;
    font-size: 20px;
    float: left;  
}
.kalyan-100 p{
    text-align: center;
}
.ganesh-100{
    margin-left: 30px;
    font-size: 20px;
    float: left;  
}
.ganesh-100 p{
    text-align: center;
}
.hari-100{
    margin-left: 30px;
    font-size: 20px;
    float: left;  
}
.hari-100 p{
    text-align: center;
}
.satendra-100{
    margin-left: 30px;
    font-size: 20px;
    float: left;
}
.satendra-100 p{
    text-align: center;
}
.deependra-100{
    margin-left: 30px;
    font-size: 20px;
    float: left;
}
.deependra-100 p{
    text-align: center;
}
.birendra100rs{
    margin-left: 150px;
    float: left;
}
.line100{
    width: 600px;
    margin-left: 20px;
    float: left;
    font-size: 15px  
}

/*birendra-250.html*/
.twentyfiveRupee-birendra{
    font-family: 'Roboto Slab', serif;  
    margin-left: 330px
}
.satendra-250{
    margin-left: 30px;
    font-size: 20px;
    float: left;
}
.satendra-250 p{
    text-align: center;
}
.birendra250rs{
    margin-left: 150px;
    float: left;
}
.line250{
    width: 600px;
    margin-left: 20px;
    float: left;
    font-size: 15px  
}

/*birendra-500.html*/
.fivehundredRupee-birendra{
    font-family: 'Roboto Slab', serif;  
    margin-left: 330px
}
.kul-500{
    margin-left: 30px;
    font-size: 20px;
    float: left;  
}
.kul-500 p{
    text-align: center;
}
.kalyan-500{
    margin-left: 30px;
    font-size: 20px;
    float: left;  
}
.kalyan-500 p{
    text-align: center;
}
.ganesh-500{
    margin-left: 30px;
    font-size: 20px;
    float: left;  
}
.ganesh-500 p{
    text-align: center;
}
.hari-500{
    margin-left: 30px;
    font-size: 20px;
    float: left;  
}
.hari-500 p{
    text-align: center;
}
.satendra-500{
    margin-left: 30px;
    font-size: 20px;
    float: left;
}
.satendra-500 p{
    text-align: center;
}
.deependra-500{
    margin-left: 30px;
    font-size: 20px;
    float: left;
}
.deependra-500 p{
    text-align: center;
}
.birendra500rs{
    margin-left: 150px;
    float: left;
}
.line500{
    width: 600px;
    margin-left: 20px;
    float: left;
    font-size: 15px  
}

/*birendra-100.html*/
.thousandRupee-birendra{
    font-family: 'Roboto Slab', serif;  
    margin-left: 330px
}
.kul-1000{
    margin-left: 30px;
    font-size: 20px;
    float: left;  
}
.kul-1000 p{
    text-align: center;
}
.kalyan-1000{
    margin-left: 30px;
    font-size: 20px;
    float: left;  
}
.kalyan-1000 p{
    text-align: center;
}
.ganesh-1000{
    margin-left: 30px;
    font-size: 20px;
    float: left;  
}
.ganesh-1000 p{
    text-align: center;
}
.hari-1000{
    margin-left: 30px;
    font-size: 20px;
    float: left;  
}
.hari-1000 p{
    text-align: center;
}
.satendra-1000{
    margin-left: 30px;
    font-size: 20px;
    float: left;
}
.satendra-1000 p{
    text-align: center;
}
.deependra-1000{
    margin-left: 30px;
    font-size: 20px;
    float: left;
}
.deependra-1000 p{
    text-align: center;
}
.birendra1000rs{
    margin-left: 150px;
    float: left;
}
.line1000{
    width: 600px;
    margin-left: 20px;
    float: left;
    font-size: 15px  
}



/*governor-6.html*/
.governor-six{
    margin-left: 200px;
    float: left;
}
.aboutKul{
    width: 600px;
    margin-left: 70px;
    float: left;
    font-size: 15px
}
/*governor-7.html*/
.governor-seven{
    margin-left: 200px;
    float: left;
}
.aboutKalyan{
    width: 600px;
    margin-left: 70px;
    float: left;
    font-size: 15px
}
/*governor-8.html*/
.governor-eight{
    margin-left: 200px;
    float: left;
}
.aboutGanesh{
    width: 600px;
    margin-left: 70px;
    float: left;
    font-size: 15px
}
/*governor-9.html*/
.governor-nine{
    margin-left: 200px;
    float: left;
}
.aboutHari{
    width: 600px;
    margin-left: 70px;
    float: left;
    font-size: 15px
}
/*governor-10.html*/
.governor-ten{
    margin-left: 200px;
    float: left;
}
.aboutSatendra{
    width: 600px;
    margin-left: 70px;
    float: left;
    font-size: 15px
}
/*governor-11.html*/
.governor-eleven{
    margin-left: 200px;
    float: left;
}
.aboutDeependra{
    width: 600px;
    margin-left: 70px;
    float: left;
    font-size: 15px
}

/*kingGyanendra.html*/
.name{
    margin-left: 400px;
    font-size: 15px;
    font-family: 'Roboto Slab', serif;
}
.list h1{
    font-family: 'Roboto Slab', serif;
}
.governor h1{
    font-family: 'Roboto Slab', serif;
}

/*gyanendra-5.html*/
.fiveRupee-gyanendra{
    font-family: 'Roboto Slab', serif;  
    margin-left: 330px
}
.tilak-5{
    margin-left: 30px;
    font-size: 20px;
    float: left;  
}
.tilak-5 p{
    text-align: center;
}
.tilaak-5{
    margin-left: 30px;
    font-size: 20px;
    float: left;  
}
.tilaak-5 p{
    text-align: center;
}
.bijaya-5{
    margin-left: 30px;
    font-size: 20px;
    float: left;  
}
.bijaya-5 p{
    text-align: center;
}
.gyanendra5rs{
    margin-left: 150px;
    float: left;
}
.about5{
    width: 600px;
    margin-left: 20px;
    float: left;
    font-size: 15px  
}

/*gyanendra-10.html*/
.tenRupee-gyanendra{
    font-family: 'Roboto Slab', serif;  
    margin-left: 330px
}
.tilak-10{
    margin-left: 30px;
    font-size: 20px;
    float: left;  
}
.tilak-10 p{
    text-align: center;
}
.bijaya-10{
    margin-left: 30px;
    font-size: 20px;
    float: left;  
}
.bijaya-10 p{
    text-align: center;
}
.gyanendra10rs{
    margin-left: 150px;
    float: left;
}
.about10{
    width: 600px;
    margin-left: 20px;
    float: left;
    font-size: 15px  
}

/*gyanendra-20.html*/
.twentyRupee-gyanendra{
    font-family: 'Roboto Slab', serif;  
    margin-left: 330px
}
.tilak-20{
    margin-left: 30px;
    font-size: 20px;
    float: left;  
}
.tilak-20 p{
    text-align: center;
}
.bijaya-20{
    margin-left: 30px;
    font-size: 20px;
    float: left;  
}
.bijaya-20 p{
    text-align: center;
}
.gyanendra20rs{
    margin-left: 150px;
    float: left;
}
.about20{
    width: 600px;
    margin-left: 20px;
    float: left;
    font-size: 15px  
}

/*gyanendra-50.html*/
.fiftyRupee-gyanendra{
    font-family: 'Roboto Slab', serif;  
    margin-left: 330px
}
.tilak-50{
    margin-left: 30px;
    font-size: 20px;
    float: left;  
}
.tilak-50 p{
    text-align: center;
}
.tilaak-50{
    margin-left: 30px;
    font-size: 20px;
    float: left;  
}
.tilaak-50 p{
    text-align: center;
}
.bijaya-50{
    margin-left: 30px;
    font-size: 20px;
    float: left;  
}
.bijaya-50 p{
    text-align: center;
}
.gyanendra50rs{
    margin-left: 150px;
    float: left;
}
.about50{
    width: 600px;
    margin-left: 20px;
    float: left;
    font-size: 15px  
}

/*gyanendra-100.html*/
.hundredRupee-gyanendra{
    font-family: 'Roboto Slab', serif;  
    margin-left: 330px
}
.tilak-100{
    margin-left: 30px;
    font-size: 20px;
    float: left;  
}
.tilak-100 p{
    text-align: center;
}
.bijaya-100{
    margin-left: 30px;
    font-size: 20px;
    float: left;  
}
.bijaya-100 p{
    text-align: center;
}
.gyanendra100rs{
    margin-left: 150px;
    float: left;
}
.about100{
    width: 600px;
    margin-left: 20px;
    float: left;
    font-size: 15px  
}

/*gyanendra-500.html*/
.fivehundredRupee-gyanendra{
    font-family: 'Roboto Slab', serif;  
    margin-left: 330px
}
.tilak-500{
    margin-left: 30px;
    font-size: 20px;
    float: left;
}
.tilak-500 p{
    text-align: center;
}
.gyanendra500rs{
    margin-left: 150px;
    float: left;
}
.about500{
    width: 600px;
    margin-left: 20px;
    float: left;
    font-size: 15px  
}

/*gyanendra-1000.html*/
.thousandRupee-gyanendra{
    font-family: 'Roboto Slab', serif;  
    margin-left: 330px
}
.tilak-1000{
    margin-left: 30px;
    font-size: 20px;
    float: left;
}
.tilak-1000 p{
    text-align: center;
}
.gyanendra1000rs{
    margin-left: 150px;
    float: left;
}
.about1000{
    width: 600px;
    margin-left: 20px;
    float: left;
    font-size: 15px  
}

/*governor-12.html*/
.governor-twelve{
    margin-left: 200px;
    float: left;
}
.aboutTilak{
    width: 600px;
    margin-left: 70px;
    float: left;
    font-size: 15px
}
/*governor-13.html*/
.governor-thirteen{
    margin-left: 200px;
    float: left;
}
.aboutBijayanath{
    width: 600px;
    margin-left: 70px;
    float: left;
    font-size: 15px
}


/* Sagarmatha.html */
.name{
    margin-left: 400px;
    font-size: 15px;
    font-family: 'Roboto Slab', serif;
}
.list h1{
    font-family: 'Roboto Slab', serif;
}
.governor h1{
    font-family: 'Roboto Slab', serif;
}

/*bijayanath.html*/
.signatureof-bijayanath{
    font-family: 'Roboto Slab', serif;  
    margin-left: 330px
}
.bijayanathrs{
    margin-left: 150px;
    float: left;
}
.bijayanath-100{
    margin-left: 30px;
    font-size: 20px;
    float: left;
}
.bijayanath-500{
    margin-left: 30px;
    font-size: 20px;
    float: left;
}

/*krishna.html*/
.signatureof-krishna{
    font-family: 'Roboto Slab', serif;  
    margin-left: 330px
}
.krishnars{
    margin-left: 150px;
    float: left;
}
.krishna-5{
    margin-left: 30px;
    font-size: 20px;
    float: left;
}
.krishna-10{
    margin-left: 30px;
    font-size: 20px;
    float: left;
}
.krishna-20{
    margin-left: 30px;
    font-size: 20px;
    float: left;
}
.krishna-50{
    margin-left: 30px;
    font-size: 20px;
    float: left;
}
.krishna-100{
    margin-left: 30px;
    font-size: 20px;
    float: left;
}
.krishna-1000{
    margin-left: 30px;
    font-size: 20px;
    float: left;
}

/*deependra-500.html*/
.signatureof-deependra{
    font-family: 'Roboto Slab', serif;  
    margin-left: 330px
}
.deependrars{
    margin-left: 150px;
    float: left;
}
.deependra-500{
    margin-left: 30px;
    font-size: 20px;
    float: left;
}


/*yubaraj.html*/
.signatureof-yubaraj{
    font-family: 'Roboto Slab', serif;  
    margin-left: 330px
}
.yubarajrs{
    margin-left: 150px;
    float: left;
}
.yubaraj-5{
    margin-left: 30px;
    font-size: 20px;
    float: left;
}
.yubaraj-5rs{
    margin-left: 30px;
    font-size: 20px;
    float: left;
}
.yubaraj-10{
    margin-left: 30px;
    font-size: 20px;
    float: left;
}
.yubaraj-10rs{
    margin-left: 30px;
    font-size: 20px;
    float: left;
}
.yubaraj-20{
    margin-left: 30px;
    font-size: 20px;
    float: left;
}
.yubaraj-20rs{
    margin-left: 30px;
    font-size: 20px;
    float: left;
}
.yubaraj-50{
    margin-left: 30px;
    font-size: 20px;
    float: left;
}
.yubaraj-100{
    margin-left: 30px;
    font-size: 20px;
    float: left;
}



/*chiranjibi.html*/
.signatureof-chiranjibi{
    font-family: 'Roboto Slab', serif;  
    margin-left: 330px
}
.chiranjibirs{
    margin-left: 150px;
    float: left;
}
.chiranjibi-5{
    margin-left: 30px;
    font-size: 20px;
    float: left;
}
.chiranjibi-10{
    margin-left: 30px;
    font-size: 20px;
    float: left;
}
.chiranjibi-20{
    margin-left: 30px;
    font-size: 20px;
    float: left;
}
.chiranjibi-50{
    margin-left: 30px;
    font-size: 20px;
    float: left;
}
.chiranjibi-100{
    margin-left: 30px;
    font-size: 20px;
    float: left;
}
.chiranjibi-100rs{
    margin-left: 30px;
    font-size: 20px;
    float: left;
}
.chiranjibi-500{
    margin-left: 30px;
    font-size: 20px;
    float: left;
}
.chiranjibi-1000{
    margin-left: 30px;
    font-size: 20px;
    float: left;
}




/*governor-14.html*/
.governor-fourteen{
    margin-left: 200px;
    float: left;
}
.aboutDeependra{
    width: 600px;
    margin-left: 70px;
    float: left;
    font-size: 15px
}
/*governor-15.html*/
.governor-fifteen{
    margin-left: 200px;
    float: left;
}
.aboutYubaraj{
    width: 600px;
    margin-left: 70px;
    float: left;
    font-size: 15px
}
/*governor-16.html*/
.governor-sixteen{
    margin-left: 200px;
    float: left;
}
.aboutChiranjibi{
    width: 600px;
    margin-left: 70px;
    float: left;
    font-size: 15px
}
/*governor-17.html*/
.governor-seventeen{
    margin-left: 200px;
    float: left;
}
.aboutMaha{
    width: 600px;
    margin-left: 70px;
    float: left;
    font-size: 15px
}

/* ss */








