@import url('https://fonts.googleapis.com/css?family=Lexend+Deca&display=swap');
@import url('https://fonts.googleapis.com/css?family=Roboto+Slab&display=swap');


html,body {
    height: 100%;
    margin: 0;
    padding: 0;
}

/* index.html */
.topnav{
    background-color:#3F51B5;
    overflow: hidden;
    height: 50px;
    font-family: 'Lexend Deca', sans-serif;
}
.topnav a{
    color: white;
    font-size: 20px;
    margin: 10px 15px;
    display: inline-block;
}
a{
    text-decoration: none;
    outline: none;
}


/* papermoney.html*/
.list h1{
    font-family: 'Roboto Slab', serif;
}
.list{
    min-height: 100%;
    /*negative is same mesaurement as footer height */
 margin-bottom: -120px;   
}
.list::after{
    content: "";
    display: block;
}
footer, .list::after{
    height: 120px;
}

/* shah.html*/
.listOfshahkings h1{
    font-family: 'Roboto Slab', serif;
}
.shah{
    min-height: 100%;
    /*negative is same mesaurement as footer height */
 margin-bottom: -120px;   
}
.shah::after{
    content: "";
    display: block;
}
footer, .shah::after{
    height: 120px;
}

/*about.html*/
.information h1{
    font-family: 'Roboto Slab', serif;
}
.information{
    min-height: 100%;
    /*negative is same mesaurement as footer height */
 margin-bottom: -120px;   
}

/* governors.html */
.list h1{
    font-family: 'Roboto Slab', serif;
}

.information::after{
    content: "";
    display: block;
}
footer, .information::after{
    height: 120px;
}

/*PrithviNarayan.html*/
.king-one{
    margin-left: 600px;
    float: left;
    margin-top: 50px;
}
.king-one p{
    text-align: center;
}
.aboutPrithviNarayan{
    width: 1000px;
    margin-left: 250px;
    float: left;
    font-size: 15px
}
.aboutPrithviNarayan h3{
    text-align: center;
}
/*PratabSingh.html*/
.king-two{
    margin-left: 600px;
    float: left;
    margin-top: 50px;
}
.king-two p{
    text-align: center;
}
.aboutPratabSingh{
    width: 1000px;
    margin-left: 250px;
    float: left;
    font-size: 15px
}
.aboutPratabSingh h3{
    text-align: center;
}
/*RanaBahadur.html*/
.king-three{
    margin-left: 600px;
    float: left;
    margin-top: 50px;
}
.king-three p{
    text-align: center;
}
.aboutRanaBahadur{
    width: 1000px;
    margin-left: 250px;
    float: left;
    font-size: 15px
}
.aboutRanaBahadur h3{
    text-align: center;
}
/*GirvanShah.html*/
.king-four{
    margin-left: 600px;
    float: left;
    margin-top: 50px;
}
.king-four p{
    text-align: center;
}
.aboutGirvanShah{
    width: 1000px;
    margin-left: 250px;
    float: left;
    font-size: 15px
}
.aboutGirvanShah h3{
    text-align: center;
}
/*RajendraShah.html*/
.king-five{
    margin-left: 600px;
    float: left;
    margin-top: 50px;
}
.king-five p{
    text-align: center;
}
.aboutRajendraShah{
    width: 1000px;
    margin-left: 250px;
    float: left;
    font-size: 15px
}
.aboutRajendraShah h3{
    text-align: center;
}
/*SurendraShah.html*/
.king-six{
    margin-left: 600px;
    float: left;
    margin-top: 50px;
}
.king-six p{
    text-align: center;
}
.aboutSurendraShah{
    width: 1000px;
    margin-left: 250px;
    float: left;
    font-size: 15px
}
.aboutSurendraShah h3{
    text-align: center;
}
/*TrailokyaShah.html*/
.prince{
    margin-left: 600px;
    float: left;
    margin-top: 50px;
}
.prince p{
    text-align: center;
}
.aboutTrailokyaShah{
    width: 1000px;
    margin-left: 250px;
    float: left;
    font-size: 15px
}
.aboutTrailokyaShah h3{
    text-align: center;
}
/*PrithviShah.html*/
.king-seven{
    margin-left: 600px;
    float: left;
    margin-top: 50px;
}
.king-seven p{
    text-align: center;
}
.aboutPrithviShah{
    width: 1000px;
    margin-left: 250px;
    float: left;
    font-size: 15px
}
.aboutPrithviShah h3{
    text-align: center;
}
/*TribhuwanShah.html*/
.king-eight{
    margin-left: 600px;
    float: left;
    margin-top: 50px;
}
.king-eight p{
    text-align: center;
}
.aboutTribhuwanShah{
    width: 1000px;
    margin-left: 250px;
    float: left;
    font-size: 15px
}
.aboutTribhuwanShah h3{
    text-align: center;
}
/*MahendraShah.html*/
.king-nine{
    margin-left: 600px;
    float: left;
    margin-top: 50px;
}
.king-nine p{
    text-align: center;
}
.aboutMahendraShah{
    width: 1000px;
    margin-left: 250px;
    float: left;
    font-size: 15px
}
.aboutMahendraShah h3{
    text-align: center;
}
/*BirendraShah.html*/
.king-ten{
    margin-left: 600px;
    float: left;
    margin-top: 50px;
}
.king-ten p{
    text-align: center;
}
.aboutBirendraShah{
    width: 1000px;
    margin-left: 250px;
    float: left;
    font-size: 15px
}
.aboutBirendraShah h3{
    text-align: center;
}
/*DipendraShah.html*/
.king-eleven{
    margin-left: 600px;
    float: left;
    margin-top: 50px;
}
.king-eleven p{
    text-align: center;
}
.aboutDipendraShah{
    width: 1000px;
    margin-left: 250px;
    float: left;
    font-size: 15px
}
.aboutDipendraShah h3{
    text-align: center;
}
/*GyanendraShah.html*/
.king-twelve{
    margin-left: 600px;
    float: left;
    margin-top: 50px;
}
.king-twelve p{
    text-align: center;
}
.aboutGyanendraShah{
    width: 1000px;
    margin-left: 250px;
    float: left;
    font-size: 15px
}
.aboutGyanendraShah h3{
    text-align: center;
}

/* kingTribhuwan.html */
.name{
    margin-left: 400px;
    font-size: 15px;
    font-family: 'Roboto Slab', serif;
}
.list h1{
    font-family: 'Roboto Slab', serif;
}
.tribhuwan{
    min-height: 100%;
    /*negative is same mesaurement as footer height */
 margin-bottom: -120px;   
}
.tribhuwan::after{
    content: "";
    display: block;
}
footer, .tribhuwan::after{
    height: 120px;
}

/*tribhuwan-1.html*/
.oneRupee-tribhuwan{
    font-family: 'Roboto Slab', serif;  
    margin-left: 330px
}
.narendra-1{
    margin-left: 30px;
    font-size: 20px;
    float: left;
}
.narendra-1 p{
    text-align: center;
}
.tribhuwan1rs{
    margin-left: 150px;
    float: left;
}
.text{
    width: 700px;
    margin-left: 20px;
    float: left;
    font-size: 15px  
}

/*tribhuwan-5.html*/
.fiveRupee-tribhuwan{
    font-family: 'Roboto Slab', serif;  
    margin-left: 330px
}
.janak-5{
    margin-left: 30px;
    font-size: 20px;
    float: left;  
}
.janak-5 p{
    text-align: center;
}
.bharat-5{
    margin-left: 30px;
    font-size: 20px;
    float: left;  
}
.bharat-5 p{
    text-align: center;
}
.narendra-5{
    margin-left: 30px;
    font-size: 20px;
    float: left;
}
.narendra-5 p{
    text-align: center;
}
.narendra-5 img{
    margin-right: 24px;
}
.tribhuwan5rs{
    margin-left: 150px;
    float: left;
}
.text5{
    width: 600px;
    margin-left: 20px;
    float: left;
    font-size: 15px  
}

/*tribhuwan-10.html*/
.tenRupee-tribhuwan{
    font-family: 'Roboto Slab', serif;  
    margin-left: 330px
}
.janak-10{
    margin-left: 30px;
    font-size: 20px;
    float: left;  
}
.janak-10 p{
    text-align: center;
}
.bharat-10{
    margin-left: 30px;
    font-size: 20px;
    float: left;  
}
.bharat-10 p{
    text-align: center;
}
.narendra-10{
    margin-left: 30px;
    font-size: 20px;
    float: left;
}
.narendra-10 p{
    text-align: center;
}
.narendra-10 img{
    margin-right: 24px;
}
.tribhuwan10rs{
    margin-left: 150px;
    float: left;
}
.text10{
    width: 600px;
    margin-left: 20px;
    float: left;
    font-size: 15px  
}

/*tribhuwan-100.html*/
.hundredRupee-tribhuwan{
    font-family: 'Roboto Slab', serif;  
    margin-left: 330px
}
.janak-100{
    margin-left: 30px;
    font-size: 20px;
    float: left;  
}
.janak-100 p{
    text-align: center;
}
.bharat-100{
    margin-left: 30px;
    font-size: 20px;
    float: left;  
}
.bharat-100 p{
    text-align: center;
}
.narendra-100{
    margin-left: 30px;
    font-size: 20px;
    float: left;
}
.narendra-100 p{
    text-align: center;
}
.narendra-100 img{
    margin-right: 24px;
}
.tribhuwan100rs{
    margin-left: 150px;
    float: left;
}
.text100{
    width: 600px;
    margin-left: 20px;
    float: left;
    font-size: 15px  
}

/*khajanchee-1.html*/
.khajanchee-one{
    margin-left: 600px;
    float: left;
    margin-top: 50px;
}
.aboutJanak{
    width: 1000px;
    margin-left: 250px;
    float: left;
    font-size: 15px
}
.aboutJanak h3{
    text-align: center;
}
/*khajanchee-2.html*/
.khajanchee-two{
    margin-left: 600px;
    float: left;
    margin-top: 50px;
}
.aboutBharat{
    width: 1000px;
    margin-left: 250px;
    float: left;
    font-size: 15px
}
.aboutBharat h3{
    text-align: center;
}
/*khajanchee-3.html*/
.khajanchee-three{
    margin-left: 600px;
    float: left;
    margin-top: 50px;
}
.aboutNarendra{
    width: 1000px;
    margin-left: 250px;
    float: left;
    font-size: 15px
}
.aboutNarendra h3{
    text-align: center;
}

/*kingMahendra.html*/
.name{
    margin-left: 400px;
    font-size: 15px;
    font-family: 'Roboto Slab', serif;
}
.list h1{
    font-family: 'Roboto Slab', serif;
}

/*mahendra-1.html*/
.oneRupee-mahendra{
    font-family: 'Roboto Slab', serif;  
    margin-left: 330px
}
.himalayan-1{
    margin-left: 30px;
    font-size: 20px;
    float: left;  
}
.himalayan-1 p{
    text-align: center;
}

.yadav-1{
    margin-left: 30px;
    font-size: 20px;
    float: left;
}
.yadav-1 p{
    text-align: center;
}
.yadavcap-1{
    margin-left: 30px;
    font-size: 20px;
    float: left;
}
.yadavcap-1 p{
    text-align: center;
}
.mahendra1rs{
    margin-left: 150px;
    float: left;
}
.info1{
    width: 700px;
    margin-left: 20px;
    float: left;
    font-size: 15px  
}

/*mahendra-5.html*/
.fiveRupee-mahendra{
    font-family: 'Roboto Slab', serif;  
    margin-left: 330px
}
.himalayan-5{
    margin-left: 30px;
    font-size: 20px;
    float: left;  
}
.himalayan-5 p{
    text-align: center;
}
.laxminath-5{
    margin-left: 30px;
    font-size: 20px;
    float: left;  
}
.laxminath-5 p{
    text-align: center;
}
.bhekh-5{
    margin-left: 30px;
    font-size: 20px;
    float: left;  
}
.bhekh-5 p{
    text-align: center;
}
.yadav-5{
    margin-left: 30px;
    font-size: 20px;
    float: left;
}
.yadav-5 p{
    text-align: center;
}
.yadavcap-5{
    margin-left: 30px;
    font-size: 20px;
    float: left;
}
.yadavcap-5 p{
    text-align: center;
}
.mahendra5rs{
    margin-left: 150px;
    float: left;
}
.info5{
    width: 600px;
    margin-left: 20px;
    float: left;
    font-size: 15px  
}

/*mahendra-10*/
.tenRupee-mahendra{
    font-family: 'Roboto Slab', serif;  
    margin-left: 330px
}
.himalayan-10{
    margin-left: 30px;
    font-size: 20px;
    float: left;  
}
.himalayan-10 p{
    text-align: center;
}
.laxminath-10{
    margin-left: 30px;
    font-size: 20px;
    float: left;  
}
.laxminath-10 p{
    text-align: center;
}
.laxminath-10rs{
    margin-left: 30px;
    font-size: 20px;
    float: left;  
}
.laxminath-10rs p{
    text-align: center;
}
.pradyumna-10{
    margin-left: 30px;
    font-size: 20px;
    float: left;  
}
.pradyumna-10 p{
    text-align: center;
}
.bhekh-10{
    margin-left: 30px;
    font-size: 20px;
    float: left;  
}
.bhekh-10 p{
    text-align: center;
}
.yadav-10{
    margin-left: 30px;
    font-size: 20px;
    float: left;
}
.yadav-10 p{
    text-align: center;
}
.yadavcap-10{
    margin-left: 30px;
    font-size: 20px;
    float: left;
}
.yadavcap-10 p{
    text-align: center;
}
.mahendra10rs{
    margin-left: 150px;
    float: left;
}
.info10{
    width: 600px;
    margin-left: 20px;
    float: left;
    font-size: 15px  
}

/*mahendra-100.html*/
.hundredRupee-mahendra{
    font-family: 'Roboto Slab', serif;  
    margin-left: 330px
}
.himalayan-100{
    margin-left: 30px;
    font-size: 20px;
    float: left;  
}
.himalayan-100 p{
    text-align: center;
}
.laxminath-100{
    margin-left: 30px;
    font-size: 20px;
    float: left;  
}
.laxminath-100 p{
    text-align: center;
}
.pradyumna-100{
    margin-left: 30px;
    font-size: 20px;
    float: left;  
}
.pradyumna-100 p{
    text-align: center;
}
.bhekh-100{
    margin-left: 30px;
    font-size: 20px;
    float: left;  
}
.bhekh-100 p{
    text-align: center;
}
.yadav-100{
    margin-left: 30px;
    font-size: 20px;
    float: left;
}
.yadav-100 p{
    text-align: center;
}
.yadavcap-100{
    margin-left: 30px;
    font-size: 20px;
    float: left;
}
.yadavcap-100 p{
    text-align: center;
}
.mahendra100rs{
    margin-left: 150px;
    float: left;
}
.info100{
    width: 600px;
    margin-left: 20px;
    float: left;
    font-size: 15px  
}

/*mahendra-500.html*/
.fivehundredRupee-mahendra{
    font-family: 'Roboto Slab', serif;  
    margin-left: 330px
}
.yadav-500{
    margin-left: 30px;
    font-size: 20px;
    float: left;
}
.yadav-500 p{
    text-align: center;
}
.mahendra500rs{
    margin-left: 150px;
    float: left;
}
.info500{
    width: 600px;
    margin-left: 20px;
    float: left;
    font-size: 15px  
}

/*mahendra-1000.html*/
.thousandRupee-mahendra{
    font-family: 'Roboto Slab', serif;  
    margin-left: 330px
}
.yadav-1000{
    margin-left: 30px;
    font-size: 20px;
    float: left;
}
.yadav-1000 p{
    text-align: center;
}
.mahendra1000rs{
    margin-left: 150px;
    float: left;
}
.info1000{
    width: 600px;
    margin-left: 20px;
    float: left;
    font-size: 15px  
}

/*governor-1.html*/
.governor-one{
    margin-left: 600px;
    float: left;
    margin-top: 50px;
}
.aboutHimalaya{
    width: 1000px;
    margin-left: 250px;
    float: left;
    font-size: 15px
}
.aboutHimalaya h3{
    text-align: center;
}
/*governor-2.html*/
.governor-two{
    margin-left: 600px;
    float: left;
    margin-top: 50px;
}
.aboutLaxminath{
    width: 1000px;
    margin-left: 250px;
    float: left;
    font-size: 15px
}
.aboutLaxminath h3{
    text-align: center;
}
/*governor-3.html*/
.governor-three{
    margin-left: 600px;
    float: left;
    margin-top: 50px;
}
.aboutPradyumna{
    width: 1000px;
    margin-left: 250px;
    float: left;
    font-size: 15px
}
.aboutPradyumna h3{
    text-align: center;
}
/*governor-4.html*/
.governor-four{
    margin-left: 600px;
    float: left;
    margin-top: 50px;
}
.aboutBhekh{
    width: 1000px;
    margin-left: 250px;
    float: left;
    font-size: 15px
}
.aboutBhekh h3{
    text-align: center;
}
/*governor-5.html*/
.governor-five{
    margin-left: 600px;
    float: left;
    margin-top: 50px;
}
.aboutYadav{
    width: 1000px;
    margin-left: 250px;
    float: left;
    font-size: 15px
}
.aboutYadav h3{
    text-align: center;
}

/*kingBirendra.html*/
.name{
    margin-left: 400px;
    font-size: 15px;
    font-family: 'Roboto Slab', serif;
}
.list h1{
    font-family: 'Roboto Slab', serif;
}

/*birendra-1.html*/
.oneRupee-birendra{
    font-family: 'Roboto Slab', serif;  
    margin-left: 330px
}
.kul-1{
    margin-left: 30px;
    font-size: 20px;
    float: left;  
}
.kul-1 p{
    text-align: center;
}
.kalyan-1{
    margin-left: 30px;
    font-size: 20px;
    float: left;  
}
.kalyan-1 p{
    text-align: center;
}
.ganesh-1{
    margin-left: 30px;
    font-size: 20px;
    float: left;  
}
.ganesh-1 p{
    text-align: center;
}
.harishankhar-1{
    margin-left: 30px;
    font-size: 20px;
    float: left;  
}
.harishankhar-1 p {
    text-align: center;
}
.satendra-1{
    margin-left: 30px;
    font-size: 20px;
    float: left;
}
.satendra-1 p{
    text-align: center;
}
.birendra1rs{
    margin-left: 150px;
    float: left;
}
.line1{
    width: 600px;
    margin-left: 20px;
    float: left;
    font-size: 15px  
}

/*birendra-2.html*/
.twoRupee-birendra{
    font-family: 'Roboto Slab', serif;  
    margin-left: 330px
}
.kalyan-2{
    margin-left: 30px;
    font-size: 20px;
    float: left;  
}
.kalyan-2 p{
    text-align: center;
}
.ganesh-2{
    margin-left: 30px;
    font-size: 20px;
    float: left;  
}
.ganesh-2 p{
    text-align: center;
}
.hari-2{
    margin-left: 30px;
    font-size: 20px;
    float: left;  
}
.hari-2 p{
    text-align: center;
}
.satendra-2{
    margin-left: 30px;
    font-size: 20px;
    float: left;
}
.satendra-2 p{
    text-align: center;
}
.deependra-2{
    margin-left: 30px;
    font-size: 20px;
    float: left;
}
.deependra-2 p{
    text-align: center;
}
.birendra2rs{
    margin-left: 150px;
    float: left;
}
.line2{
    width: 600px;
    margin-left: 20px;
    float: left;
    font-size: 15px  
}

/*birendra-5.html*/
.fiveRupee-birendra{
    font-family: 'Roboto Slab', serif;  
    margin-left: 330px
}
.kul-5{
    margin-left: 30px;
    font-size: 20px;
    float: left;  
}
.kul-5 p{
    text-align: center;
}
.kalyan-5{
    margin-left: 30px;
    font-size: 20px;
    float: left;  
}
.kalyan-5 p{
    text-align: center;
}
.ganeshb-5{
    margin-left: 30px;
    font-size: 20px;
    float: left;  
}
.ganeshb-5 p{
    text-align: center;
}
.ganesh-5{
    margin-left: 30px;
    font-size: 20px;
    float: left;  
}
.ganesh-5 p{
    text-align: center;
}
.hari-5{
    margin-left: 30px;
    font-size: 20px;
    float: left;  
}
.hari-5 p{
    text-align: center;
}
.satendra-5{
    margin-left: 30px;
    font-size: 20px;
    float: left;
}
.satendra-5 p{
    text-align: center;
}
.deependra-5{
    margin-left: 30px;
    font-size: 20px;
    float: left;
}
.deependra-5 p{
    text-align: center;
}
.birendra5rs{
    margin-left: 150px;
    float: left;
}
.line5{
    width: 600px;
    margin-left: 20px;
    float: left;
    font-size: 15px  
}

/*birendra-10.html*/
.tenRupee-birendra{
    font-family: 'Roboto Slab', serif;  
    margin-left: 330px
}
.kul-10{
    margin-left: 30px;
    font-size: 20px;
    float: left;  
}
.kul-10 p{
    text-align: center;
}
.kalyan-10{
    margin-left: 30px;
    font-size: 20px;
    float: left;  
}
.kalyan-10 p{
    text-align: center;
}
.ganeshb-10{
    margin-left: 30px;
    font-size: 20px;
    float: left;  
}
.ganeshb-10 p{
    text-align: center;
}
.ganesh-10{
    margin-left: 30px;
    font-size: 20px;
    float: left;  
}
.ganesh-10 p{
    text-align: center;
}
.hari-10{
    margin-left: 30px;
    font-size: 20px;
    float: left;  
}
.hari-10 p{
    text-align: center;
}
.satendra-10{
    margin-left: 30px;
    font-size: 20px;
    float: left;
}
.satendra-10 p{
    text-align: center;
}
.deependra-10{
    margin-left: 30px;
    font-size: 20px;
    float: left;
}
.deependra-10 p{
    text-align: center;
}
.birendra10rs{
    margin-left: 150px;
    float: left;
}
.line10{
    width: 600px;
    margin-left: 20px;
    float: left;
    font-size: 15px  
}

/*birendra-20.html*/
.twentyRupee-birendra{
    font-family: 'Roboto Slab', serif;  
    margin-left: 330px
}
.kalyan-20{
    margin-left: 30px;
    font-size: 20px;
    float: left;  
}
.kalyan-20 p{
    text-align: center;
}
.ganeshw-20{
    margin-left: 30px;
    font-size: 20px;
    float: left;  
}
.ganeshw-20 p{
    text-align: center;
}
.ganesh-20{
    margin-left: 30px;
    font-size: 20px;
    float: left;  
}
.ganesh-20 p{
    text-align: center;
}
.hari-20{
    margin-left: 30px;
    font-size: 20px;
    float: left;  
}
.hari-20 p{
    text-align: center;
}
.satendra-20{
    margin-left: 30px;
    font-size: 20px;
    float: left;
}
.satendra-20 p{
    text-align: center;
}
.deependra-20{
    margin-left: 30px;
    font-size: 20px;
    float: left;
}
.deependra-20 p{
    text-align: center;
}
.birendra20rs{
    margin-left: 150px;
    float: left;
}
.line20{
    width: 600px;
    margin-left: 20px;
    float: left;
    font-size: 15px  
}

/*birendra-25.html*/
.twentyfiveRupee-birendra{
    font-family: 'Roboto Slab', serif;  
    margin-left: 330px
}
.satendra-25{
    margin-left: 30px;
    font-size: 20px;
    float: left;
}
.satendra-25 p{
    text-align: center;
}
.birendra25rs{
    margin-left: 150px;
    float: left;
}
.line25{
    width: 600px;
    margin-left: 20px;
    float: left;
    font-size: 15px  
}

/*birendra-50.html*/
.fiftyRupee-birendra{
    font-family: 'Roboto Slab', serif;  
    margin-left: 330px
}
.kul-50{
    margin-left: 30px;
    font-size: 20px;
    float: left;  
}
.kul-50 p{
    text-align: center;
}
.kalyan-50{
    margin-left: 30px;
    font-size: 20px;
    float: left;  
}
.kalyan-50 p{
    text-align: center;
}
.ganesh-50{
    margin-left: 30px;
    font-size: 20px;
    float: left;  
}
.ganesh-50 p{
    text-align: center;
}
.hari-50{
    margin-left: 30px;
    font-size: 20px;
    float: left;  
}
.hari-50 p{
    text-align: center;
}
.satendra-50{
    margin-left: 30px;
    font-size: 20px;
    float: left;
}
.satendra-50 p{
    text-align: center;
}
.deependra-50{
    margin-left: 30px;
    font-size: 20px;
    float: left;
}
.deependra-50 p{
    text-align: center;
}
.birendra50rs{
    margin-left: 150px;
    float: left;
}
.line50{
    width: 600px;
    margin-left: 20px;
    float: left;
    font-size: 15px  
}

/*birendra-100.html*/
.hundredRupee-birendra{
    font-family: 'Roboto Slab', serif;  
    margin-left: 330px
}
.kul-100{
    margin-left: 30px;
    font-size: 20px;
    float: left;  
}
.kul-100 p{
    text-align: center;
}
.kalyan-100{
    margin-left: 30px;
    font-size: 20px;
    float: left;  
}
.kalyan-100 p{
    text-align: center;
}
.ganesh-100{
    margin-left: 30px;
    font-size: 20px;
    float: left;  
}
.ganesh-100 p{
    text-align: center;
}
.hari-100{
    margin-left: 30px;
    font-size: 20px;
    float: left;  
}
.hari-100 p{
    text-align: center;
}
.satendra-100{
    margin-left: 30px;
    font-size: 20px;
    float: left;
}
.satendra-100 p{
    text-align: center;
}
.deependra-100{
    margin-left: 30px;
    font-size: 20px;
    float: left;
}
.deependra-100 p{
    text-align: center;
}
.birendra100rs{
    margin-left: 150px;
    float: left;
}
.line100{
    width: 600px;
    margin-left: 20px;
    float: left;
    font-size: 15px  
}

/*birendra-250.html*/
.twentyfiveRupee-birendra{
    font-family: 'Roboto Slab', serif;  
    margin-left: 330px
}
.satendra-250{
    margin-left: 30px;
    font-size: 20px;
    float: left;
}
.satendra-250 p{
    text-align: center;
}
.birendra250rs{
    margin-left: 150px;
    float: left;
}
.line250{
    width: 600px;
    margin-left: 20px;
    float: left;
    font-size: 15px  
}

/*birendra-500.html*/
.fivehundredRupee-birendra{
    font-family: 'Roboto Slab', serif;  
    margin-left: 330px
}
.kul-500{
    margin-left: 30px;
    font-size: 20px;
    float: left;  
}
.kul-500 p{
    text-align: center;
}
.kalyan-500cap{
    margin-left: 30px;
    font-size: 20px;
    float: left;  
}
.kalyan-500cap p{
    text-align: center;
}
.kalyan-500{
    margin-left: 30px;
    font-size: 20px;
    float: left;  
}
.kalyan-500 p{
    text-align: center;
}
.ganesh-500{
    margin-left: 30px;
    font-size: 20px;
    float: left;  
}
.ganesh-500 p{
    text-align: center;
}
.hari-500{
    margin-left: 30px;
    font-size: 20px;
    float: left;  
}
.hari-500 p{
    text-align: center;
}
.satendra-500{
    margin-left: 30px;
    font-size: 20px;
    float: left;
}
.satendra-500 p{
    text-align: center;
}
.deependra-500{
    margin-left: 30px;
    font-size: 20px;
    float: left;
}
.deependra-500 p{
    text-align: center;
}
.birendra500rs{
    margin-left: 150px;
    float: left;
}
.line500{
    width: 600px;
    margin-left: 20px;
    float: left;
    font-size: 15px  
}

/*birendra-100.html*/
.thousandRupee-birendra{
    font-family: 'Roboto Slab', serif;  
    margin-left: 330px
}
.kul-1000{
    margin-left: 30px;
    font-size: 20px;
    float: left;  
}
.kul-1000 p{
    text-align: center;
}
.kalyan-1000cap{
    margin-left: 30px;
    font-size: 20px;
    float: left;  
}
.kalyan-1000cap p{
    text-align: center;
}
.kalyan-1000{
    margin-left: 30px;
    font-size: 20px;
    float: left;  
}
.kalyan-1000 p{
    text-align: center;
}
.ganesh-1000{
    margin-left: 30px;
    font-size: 20px;
    float: left;  
}
.ganesh-1000 p{
    text-align: center;
}
.hari-1000{
    margin-left: 30px;
    font-size: 20px;
    float: left;  
}
.hari-1000 p{
    text-align: center;
}
.satendra-1000{
    margin-left: 30px;
    font-size: 20px;
    float: left;
}
.satendra-1000 p{
    text-align: center;
}
.deependra-1000{
    margin-left: 30px;
    font-size: 20px;
    float: left;
}
.deependra-1000 p{
    text-align: center;
}
.birendra1000rs{
    margin-left: 150px;
    float: left;
}
.line1000{
    width: 600px;
    margin-left: 20px;
    float: left;
    font-size: 15px  
}



/*governor-6.html*/
.governor-six{
    margin-left: 600px;
    float: left;
    margin-top: 50px;
}
.aboutKul{
    width: 1000px;
    margin-left: 250px;
    float: left;
    font-size: 15px
}
.aboutKul h3{
    text-align: center;
}
/*governor-7.html*/
.governor-seven{
    margin-left: 600px;
    float: left;
    margin-top: 50px;
}
.aboutKalyan{
    width: 1000px;
    margin-left: 250px;
    float: left;
    font-size: 15px
}
.aboutKalyan h3{
    text-align: center;
}
/*governor-8.html*/
.governor-eight{
    margin-left: 600px;
    float: left;
    margin-top: 50px;
}
.aboutGanesh{
    width: 1000px;
    margin-left: 250px;
    float: left;
    font-size: 15px
}
.aboutGanesh h3{
    text-align: center;
}
/*governor-9.html*/
.governor-nine{
    margin-left: 600px;
    float: left;
    margin-top: 50px;
}
.aboutHari{
    width: 1000px;
    margin-left: 250px;
    float: left;
    font-size: 15px
}
.aboutHari h3{
    text-align: center;
}
/*governor-10.html*/
.governor-ten{
    margin-left: 600px;
    float: left;
    margin-top: 50px;
}
.aboutSatendra{
    width: 1000px;
    margin-left: 250px;
    float: left;
    font-size: 15px
}
.aboutSatendra h3{
    text-align: center;
}
/*governor-11.html*/
.governor-eleven{
    margin-left: 600px;
    float: left;
    margin-top: 50px;
}
.aboutDipendra{
    width: 1000px;
    margin-left: 250px;
    float: left;
    font-size: 15px
}
.aboutDipendra h3{
    text-align: center;
}

/*kingGyanendra.html*/
.name{
    margin-left: 400px;
    font-size: 15px;
    font-family: 'Roboto Slab', serif;
}
.list h1{
    font-family: 'Roboto Slab', serif;
}

/*gyanendra-5.html*/
.fiveRupee-gyanendra{
    font-family: 'Roboto Slab', serif;  
    margin-left: 330px
}
.tilak-5{
    margin-left: 30px;
    font-size: 20px;
    float: left;  
}
.tilak-5 p{
    text-align: center;
}
.tilaak-5{
    margin-left: 30px;
    font-size: 20px;
    float: left;  
}
.tilaak-5 p{
    text-align: center;
}
.bijaya-5{
    margin-left: 30px;
    font-size: 20px;
    float: left;  
}
.bijaya-5 p{
    text-align: center;
}
.bijaya-5a{
    margin-left: 30px;
    font-size: 20px;
    float: left;  
}
.bijaya-5a p{
    text-align: center;
}
.gyanendra5rs{
    margin-left: 150px;
    float: left;
}
.about5{
    width: 600px;
    margin-left: 20px;
    float: left;
    font-size: 15px  
}

/*gyanendra-10.html*/
.tenRupee-gyanendra{
    font-family: 'Roboto Slab', serif;  
    margin-left: 330px
}
.tilak-10{
    margin-left: 30px;
    font-size: 20px;
    float: left;  
}
.tilak-10 p{
    text-align: center;
}
.bijaya-10{
    margin-left: 30px;
    font-size: 20px;
    float: left;  
}
.bijaya-10 p{
    text-align: center;
}
.gyanendra10rs{
    margin-left: 150px;
    float: left;
}
.about10{
    width: 600px;
    margin-left: 20px;
    float: left;
    font-size: 15px  
}

/*gyanendra-20.html*/
.twentyRupee-gyanendra{
    font-family: 'Roboto Slab', serif;  
    margin-left: 330px
}
.tilak-20{
    margin-left: 30px;
    font-size: 20px;
    float: left;  
}
.tilak-20 p{
    text-align: center;
}
.bijaya-20{
    margin-left: 30px;
    font-size: 20px;
    float: left;  
}
.bijaya-20 p{
    text-align: center;
}
.gyanendra20rs{
    margin-left: 150px;
    float: left;
}
.about20{
    width: 600px;
    margin-left: 20px;
    float: left;
    font-size: 15px  
}

/*gyanendra-50.html*/
.fiftyRupee-gyanendra{
    font-family: 'Roboto Slab', serif;  
    margin-left: 330px
}
.tilak-50{
    margin-left: 30px;
    font-size: 20px;
    float: left;  
}
.tilak-50 p{
    text-align: center;
}
.tilaak-50{
    margin-left: 30px;
    font-size: 20px;
    float: left;  
}
.tilaak-50 p{
    text-align: center;
}
.bijaya-50{
    margin-left: 30px;
    font-size: 20px;
    float: left;  
}
.bijaya-50 p{
    text-align: center;
}
.gyanendra50rs{
    margin-left: 150px;
    float: left;
}
.about50{
    width: 600px;
    margin-left: 20px;
    float: left;
    font-size: 15px  
}

/*gyanendra-100.html*/
.hundredRupee-gyanendra{
    font-family: 'Roboto Slab', serif;  
    margin-left: 330px
}
.tilak-100{
    margin-left: 30px;
    font-size: 20px;
    float: left;  
}
.tilak-100 p{
    text-align: center;
}
.bijaya-100{
    margin-left: 30px;
    font-size: 20px;
    float: left;  
}
.bijaya-100 p{
    text-align: center;
}
.gyanendra100rs{
    margin-left: 150px;
    float: left;
}
.about100{
    width: 600px;
    margin-left: 20px;
    float: left;
    font-size: 15px  
}

/*gyanendra-500.html*/
.fivehundredRupee-gyanendra{
    font-family: 'Roboto Slab', serif;  
    margin-left: 330px
}
.tilak-500a{
    margin-left: 30px;
    font-size: 20px;
    float: left;
}
.tilak-500a p{
    text-align: center;
}
.tilak-500{
    margin-left: 30px;
    font-size: 20px;
    float: left;
}
.tilak-500 p{
    text-align: center;
}
.gyanendra500rs{
    margin-left: 150px;
    float: left;
}
.about500{
    width: 600px;
    margin-left: 20px;
    float: left;
    font-size: 15px  
}

/*gyanendra-1000.html*/
.thousandRupee-gyanendra{
    font-family: 'Roboto Slab', serif;  
    margin-left: 330px
}
.tilak-1000a{
    margin-left: 30px;
    font-size: 20px;
    float: left;
}
.tilak-1000a p{
    text-align: center;
}
.tilak-1000{
    margin-left: 30px;
    font-size: 20px;
    float: left;
}
.tilak-1000 p{
    text-align: center;
}
.gyanendra1000rs{
    margin-left: 150px;
    float: left;
}
.about1000{
    width: 600px;
    margin-left: 20px;
    float: left;
    font-size: 15px  
}

/*governor-12.html*/
.governor-twelve{
    margin-left: 600px;
    float: left;
    margin-top: 50px;
}
.aboutTilak{
    width: 1000px;
    margin-left: 250px;
    float: left;
    font-size: 15px
}
.aboutTilak h3{
    text-align: center;
}
/*governor-13.html*/
.governor-thirteen{
    margin-left: 600px;
    float: left;
    margin-top: 50px;
}
.aboutBijayanath{
    width: 1000px;
    margin-left: 250px;
    float: left;
    font-size: 15px
}
.aboutBijayanath h3{
    text-align: center;
}

/* Sagarmatha.html */
.name{
    margin-left: 400px;
    font-size: 15px;
    font-family: 'Roboto Slab', serif;
}
.list h1{
    font-family: 'Roboto Slab', serif;
}
.governor h1{
    font-family: 'Roboto Slab', serif;
}

/*bijayanath.html*/
.signatureof-bijayanath{
    font-family: 'Roboto Slab', serif;  
    margin-left: 330px
}
.bijayanathrs{
    margin-left: 150px;
    float: left;
}
.bijayanath-100{
    margin-left: 30px;
    font-size: 20px;
    float: left;
}
.bijayanath-500{
    margin-left: 30px;
    font-size: 20px;
    float: left;
}
.bijayanath-1000{
    margin-left: 30px;
    font-size: 20px;
    float: left;
}

/* acting-governor.html */
.acting-governor{
    margin-left: 600px;
    float: left;
    margin-top: 50px;
}
.aboutKrishna{
    width: 1000px;
    margin-left: 250px;
    float: left;
    font-size: 15px
}
.aboutKrishna h3{
    text-align: center;
}

/*krishna.html*/
.signatureof-krishna{
    font-family: 'Roboto Slab', serif;  
    margin-left: 330px
}
.krishnars{
    margin-left: 150px;
    float: left;
}
.krishna-5{
    margin-left: 30px;
    font-size: 20px;
    float: left;
}
.krishna-10{
    margin-left: 30px;
    font-size: 20px;
    float: left;
}
.krishna-20{
    margin-left: 30px;
    font-size: 20px;
    float: left;
}
.krishna-50{
    margin-left: 30px;
    font-size: 20px;
    float: left;
}
.krishna-100{
    margin-left: 30px;
    font-size: 20px;
    float: left;
}
.krishna-1000{
    margin-left: 30px;
    font-size: 20px;
    float: left;
}

/* governor-fourteen */
.governor-fourteen{
    margin-left: 600px;
    float: left;
    margin-top: 50px;
}
.aboutDeependra{
    width: 1000px;
    margin-left: 250px;
    float: left;
    font-size: 15px
}
.aboutDeependra h3{
    text-align: center;
}

/*deependra.html*/
.signatureof-deependra{
    font-family: 'Roboto Slab', serif;  
    margin-left: 330px
}
.deependrars{
    margin-left: 150px;
    float: left;
}
.dip500{
    width: 600px;
    margin-left: 20px;
    float: left;
    font-size: 15px  
}


/* governor-fifteen */
.governor-fifteen{
    margin-left: 600px;
    float: left;
    margin-top: 50px;
}
.aboutYubaraj{
    width: 1000px;
    margin-left: 250px;
    float: left;
    font-size: 15px
}
.aboutYubaraj h3{
    text-align: center;
}

/*yubaraj.html*/
.signatureof-yubaraj{
    font-family: 'Roboto Slab', serif;  
    margin-left: 330px
}
.yubarajrs{
    margin-left: 150px;
    float: left;
}
.yubaraj-5{
    margin-left: 30px;
    font-size: 20px;
    float: left;
}
.yubaraj-5rs{
    margin-left: 30px;
    font-size: 20px;
    float: left;
}
.yubaraj-10{
    margin-left: 30px;
    font-size: 20px;
    float: left;
}
.yubaraj-10rs{
    margin-left: 30px;
    font-size: 20px;
    float: left;
}
.yubaraj-20{
    margin-left: 30px;
    font-size: 20px;
    float: left;
}
.yubaraj-20rs{
    margin-left: 30px;
    font-size: 20px;
    float: left;
}
.yubaraj-50{
    margin-left: 30px;
    font-size: 20px;
    float: left;
}
.yubaraj-50rs{
    margin-left: 30px;
    font-size: 20px;
    float: left;
}
.yubaraj-100{
    margin-left: 30px;
    font-size: 20px;
    float: left;
}
.yubaraj-500{
    margin-left: 30px;
    font-size: 20px;
    float: left;
}
.yubaraj-500rs{
    margin-left: 30px;
    font-size: 20px;
    float: left;
}
.yubaraj-1000{
    margin-left: 30px;
    font-size: 20px;
    float: left;
}
.yubaraj-1000rs{
    margin-left: 30px;
    font-size: 20px;
    float: left;
}

/* governor-sixteen */
.governor-sixteen{
    margin-left: 600px;
    float: left;
    margin-top: 50px;
}
.aboutChiranjibi{
    width: 1000px;
    margin-left: 250px;
    float: left;
    font-size: 15px
}
.aboutChiranjibi h3{
    text-align: center;
}

/*chiranjibi.html*/
.signatureof-chiranjibi{
    font-family: 'Roboto Slab', serif;  
    margin-left: 330px
}
.chiranjibirs{
    margin-left: 150px;
    float: left;
}
.chiranjibi-5{
    margin-left: 30px;
    font-size: 20px;
    float: left;
}
.chiranjibi-10{
    margin-left: 30px;
    font-size: 20px;
    float: left;
}
.chiranjibi-20{
    margin-left: 30px;
    font-size: 20px;
    float: left;
}
.chiranjibi-20rs{
    margin-left: 30px;
    font-size: 20px;
    float: left;
}
.chiranjibi-50{
    margin-left: 30px;
    font-size: 20px;
    float: left;
}
.chiranjibi-50rs{
    margin-left: 30px;
    font-size: 20px;
    float: left;
}
.chiranjibi-100{
    margin-left: 30px;
    font-size: 20px;
    float: left;
}
.chiranjibi-100rs{
    margin-left: 30px;
    font-size: 20px;
    float: left;
}
.chiranjibi-500{
    margin-left: 30px;
    font-size: 20px;
    float: left;
}
.chiranjibi-1000{
    margin-left: 30px;
    font-size: 20px;
    float: left;
}
.chiranjibi-1000rs{
    margin-left: 30px;
    font-size: 20px;
    float: left;
}






/* governor-17.html */

.governor-seventeen{
    margin-left: 600px;
    float: left;
    margin-top: 50px;
}
.aboutMaha{
    width: 1000px;
    margin-left: 250px;
    float: left;
    font-size: 15px
}
.aboutMaha h3{
    text-align: center;
}

/* maha.html */
.signatureof-mahaprasad{
    font-family: 'Roboto Slab', serif;  
    margin-left: 330px
}
.mahars{
    margin-left: 150px;
    float: left;
}
.maha-5{
    margin-left: 30px;
    font-size: 20px;
    float: left;
}
.maha-10{
    margin-left: 30px;
    font-size: 20px;
    float: left;
}


/* ss */








